<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>Electron-muse-ic</title>
   </head>
   <body>

   <div class="container">
   

      <%= yield %>

   </div>

   </body>
</html>
